@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: linear-gradient(135deg,#4203a9,#90bafc);
    color: white;
}
.calculator{
    width: 100%;
    max-width: 600px;
    margin-top: 4%;
    margin-left: 10%;
}
.calculator h1{
    font-size: 60px;
}
.calculator h1 span{
    color: #ffff76;
}
.input-box{
    display: flex;
    align-items: center;
    margin: 40px 0px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    column-gap: 14px;
}
.input-box input{
    flex: 1;
    font-size: 18px;
    padding: 14px 20px;
    border: none;
    outline: 0;
    border-radius: 5px;
    position: relative;
}
.input-box button{
    background-color: #ffff76;
    color: #333;
    padding: 15px 30px;
    border: none;
    outline: 0;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}
.input-box input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto; 
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}



@media only screen and (max-width: 718px){
    .calculator {
        max-width: 100%;
        margin-top: 5%;
        margin-left: 0%;
    }
    .calculator h1 {
        font-size: 49px;
        text-align: center;
    }
    .input-box {
        padding: 8px;
        column-gap: 6px;
    }
    .input-box button {
        padding: 15px 4px;
    }

.input-box input {

  padding: 11px 3px;
}
.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
}